@import "help-buttons";

body {
    overflow-x:hidden;
}

/*
Two columns seperate from bootstrap
*/
.my-two-columns {
	@include media-breakpoint-up(md) { 	
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		gap: 48px; 
	}
}

.my-column {
	width: 100%;
}

/* Limit width on intro to get a good line length */
.intro {
	max-width: 47rem;
}

/* Adjust form label margins */
.form-label {
	margin: 7px 1rem 0 0;
	@include media-breakpoint-up(md) { margin-top: 0.25rem; }
}

.license-container {
	.h3 {
		@include media-breakpoint-up(md) { margin-top: 0; }
	}
}

#author-url {
	@include media-breakpoint-up(md) { margin-bottom: 2rem; }
}

/* Adjust margins and padding so that licence select lines up with left hand items (Title and author) */
#license-select {
	padding: 0.5rem;
	padding-bottom: 9px;
	
	option {
		padding-left: 0.5rem;
		padding-top: 0.4rem;
		padding-bottom: 0.4rem;
	}
}

/* Adjust to align right bring select small styles in line */
.version-drop {
	display: flex; 
	margin-top: 1rem;
	
	label {
		margin-top: 0.25rem;
		margin-right: 0.75rem;
	}
	
	.form-select-sm {
		border: 1px solid $interface-grey;
		
		border-radius: 0.25rem !important;
		width: 4.5rem;
	}
	
	@include media-breakpoint-up(md) { 
		align-items: flex-end;
		
		label {
			margin-left: auto;
		}
	}
}

.derivative-container {
	margin-top: 1.5rem; 
	@include media-breakpoint-up(md) { margin-top: 0; }
}

/*STYLES for safari only as license select box takes up a lot less height */
_::-webkit-full-page-media, _:future, :root .derivative-container {

  @include media-breakpoint-up(md) { margin-top: 2rem; }

}

/* Adjust label margin next to checkbox */
#derivative-check {
    margin-top: 7px;
    margin-right: 0.5rem;
}


/* Classes to display the actual attribution */
.attribution-container {
	background-color: var(--bs-primary-bg-subtle);
	padding: 1rem 0.5rem;
	
	@include media-breakpoint-up(md) {
		padding: 1.5rem 1.5rem 2rem 1.5rem;
	}
}

.attribution-built, .attribution-built-html {
	background-color: $body-bg;
	padding: 1rem 0.75rem 1rem 0.75rem;
	border: 1px solid $interface-grey;
	border-radius: 0.25rem;
    //min-height: 27px;
	
	@include media-breakpoint-up(md) {
		padding: 1rem 1.5rem 1rem 1.5rem;
	}
}

//dar mode
@include color-mode(dark) {
	.attribution-built, .attribution-built-html {
		background-color: $body-bg-dark;
	}
}

.attribution-built {
	margin-bottom: 1.5rem;
	@include default-focus;
}

.attribution-built-html {
    font-family: var(--bs-font-monospace);
    font-size: 1rem;
}

/* Bottom buttons */
.btn-container {
	
	@include media-breakpoint-up(sm) { 
		margin-top: 1.5rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		
		hr { display: none; }
	}
	
	.btn-left {
		@include media-breakpoint-up(sm) { 
			display: flex;
			align-items: center;
		}
	}
	
	.btn-primary, .btn-default {
		width: 100%;
		margin: 1.5rem 0 0 0;
		
		@include media-breakpoint-up(sm) { 
			width: auto;
			margin: 0 1.5rem 0 0;
		}
	}
	
	#feedback {
		text-align: center;
        margin-top: 1.5rem;
        
		@include media-breakpoint-up(sm) { 
            text-align: left;
            margin-top: 0;
        }
	}
	
	#reset {
		margin: 0;
	}
}

.cc-statement {
    margin-top: 8rem;
    
    img {
        width: 7rem;
        height: auto;
        margin-bottom: 1rem;
    }
    
    p {
        margin: 0;
    }
    
    @include media-breakpoint-up(md) {
        display: flex;
        align-items: center;
        gap: 1rem;
        
        
        img {
            margin-bottom: 0;
        }
    }  
}

.footer-container {
	//Overwrite design system
	margin-top: 2rem;
}