.btn-help, .btn-help-isolated {
	border: 1px solid $interface-grey;
	border-top-right-radius: 0.25rem !important;
	border-bottom-right-radius: 0.25rem !important;

	margin: 0;
	padding: 0 10px 0 10px;
	
	svg { margin-bottom: 2px; }
}

.btn-help-isolated {
    border: 0;
    width: 2rem;
    height: 2rem;
    padding: 0;
	
	svg { margin-bottom: 3px; }
	
	@include default-focus;
	
	
}

.btn-help, .btn-help-isolated  {

    svg {
        width: 18px;
        height: 18px;
        fill: $rmit-blue;
    }
    
	&:hover {
        border-color: $blue-hover;
        svg { fill: $blue-hover; }
    }   
}

.license-title-container {
	display: flex;
	gap: 0.25rem;
}